.comingsoon__film{
    background-color: black;
    .film__items{
        cursor: pointer;
        position: relative;
        text-align: center;
        .over-lay2{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .65);
        }
        &:hover{
            .over-lay2{
                opacity: 0;
                transition: all .5s;
            }
        }
        img{
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
        h5{
            margin: 20px 0 10px;
            @include textStyle(16px,500,$color-white);
        }
        span{
            @include textStyle(14px,normal,$color-gray);
        }
    }
}